* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.2em;
    color: black;
    background-color: #0058;
  }

  header {
    margin: 0 auto;
    width: 650px;
  }

  h1 {
    margin: 1rem;
    font-size: 1.5em;
    background-color: rgba(251, 244, 244);
    color: steelblue;
    box-shadow: 0 0 10px steelblue;
    padding: 5px;
    border-radius: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  p {
    font-weight: 700;
    margin-left: 20px;
  }

 form {
    width: 650px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    color: rgba(0, 0, 0, 1);
    display: grid;
    margin-top: 2rem;
 }

 label, input, select, textarea {
    font-family: Roboto, Arial, sans-serif;
 }

 label {
    text-align: left;
    padding-block: 1rem;
    margin-bottom: 16px;
    display: block;
 }

 input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    margin-bottom: 16px;
    border-radius: 8px;

 }

  input[type="submit"] {
    background-color: steelblue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #0058;
    color: burlywood;
  }