@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rock+Salt&display=swap');

:root {
    --primary-color: #00587a;
    --secondary-color: #8b5d2e;
    --accent1-color: #417505;
    --accent2-color: #ffffff;

    --heading-font: 'Rock salt', Helvetica, serif;
    --paragraph-font: 'san-serif', Roboto, Cursive, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    max-width: 840px;
    margin: auto;
}

.hero {
    position: relative;
    display: grid;
    grid-template-columns: 2fr;
}

h1{
    left: 100px;
    grid-row: 2/1;
    grid-column: 1/2;
    text-align: center;
    background-color: grey;
    color: white;
    margin: 26%;
    position: absolute;
    padding: 6px;
    border-radius: 4px;
}

article {
    grid-column: 1/1;
    position: absolute;
    margin-top: 30%;
    background-color: #0058;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px
}

article img {
    float: right;
    margin-left: 100px;
}