@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rock+Salt&display=swap');

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #D3D3D3;
    --secondary-color: #FFFFFF;
    --accent-color: #00587A;
    --accent-color: #417505;

    --heading-font: 'Rock salt', Helvetica, serif;
    --paragraph-font: 'san-serif', Roboto, Cursive, serif;

    --nav-background-color:#417505;
    --nav-link-color:#FFFFFF;
    --nav-hover-link-color:#00587A;
    --nav-hover-background-color:#D3D3D3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent-color);
}

header {
    padding: 20px;
    background-color: var(--primary-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
